.todo-status {
  margin-right: 8px;
}
.todo-status-uncompleted {
  cursor: pointer;
}
.badge {
  margin-left: 8px;
}
li.list-group-item {
  background-color: white;
}
li.list-group-item:hover {
  background-color: #f5f5f5;
}
li.list-group-item .item-control {
  margin-left: 8px;
  color: white;
}
li.list-group-item:hover .item-control {
  color: #888;
}
li.list-group-item .item-control:hover {
  color: #555;
}
